*{
    margin : 0;
    
}

body{
    background-image: url('/img/pattern.png');
    background-color: rgb(78, 160, 255)

}

header{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    font-size: 5rem;
}

header p{
    color: grey;
    font-size: 1.5rem;
}



.booleaner-logo{
    padding-top: 50px;
}

#logo{
    width: 15%;
    height: 15%;
}

#credit{
     color : rgb(78, 160, 255);
}

#date{
    font-size: 1.2rem;
}