*{
    margin = 0;
}

body{
    background-image: url('/img/pattern.png');
    background-color: rgb(78, 160, 255)

}

.booleaner-row{
    padding-top: 50px;
}

#logo{
    width: 20%;
    height: 20%;
}